
.learning-spec {
  padding: 30px 0;
  border-top: 1px solid $link-line-solid;
  background: $bg-content-block;
  line-height: 1.5em;

  &__menu-inner-wrap + .footer__menu-inner-wrap {
    margin-top: 30px;
  }

  &__menu-list {
    margin: 0 0 20px;
    padding: 0;
  }
  &__numeric {
    color: $text-default-link;
    font-size: 13px;
  }

  &__text + .sub-nav__numeric {
    margin-left: 5px;
    font-size: 13px;

  }

  &__menu-item {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 12px;
    line-height: 1.5;
  }

  &__menu-title {
    font-size: 18px;
    color: $text-news-card;
    margin-bottom: 25px;
  }

  &__menu-link {
    @include link-hover();

    color: $text-black;
    font-size: 13px;
  }

  &__half-bottom {
    font-size: 13px;
    color: $text-news-card;
    line-height: 1.7;
    min-height: 63px;
  }

  &__half-bottom span {
    color: $text-black;
  }

  &__btn {
    padding-right: 10px;
    padding-left: 10px;
  }
}





