.offer {
  background-color: $text-statistic-color ;
}

.offer__half--left {
  color: $text-info-gray-color;
}

.offer__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.offer__list {
  margin: 0 0 20px;
  padding: 0 0 0 15px;
}

.offer__item {
  color: $bg-block-background-color;
  line-height: 1.5;
  margin-bottom: 5px;
}

.offer__title {
  font-size: 13px;
}

.offer__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.offer__close-img-box {
  margin-right: 4px;
}

.offer__close-text {
  color: $text-default-link;
}