.raiting-title {
  background: linear-gradient(135deg, #622774 0%, #c53364 100%);
}

.raiting-title__half--left {
  color: $text-info-gray-color;
}

.raiting-title__wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}


.raiting-title__title {
  margin-top: 0;
}

.raiting-title__text {
  color: $white;
  margin-right: 5px;
}

.raiting-title__link {
  color: $white;
  @include link-hover();
}

.raiting-title__subtitle {
  color: $white;
  font-weight: 300;
  font-size: 13px;
}

.raiting-title__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.raiting-title__close-img-box {
  margin-right: 4px;
}

.raiting-title__close-text {
  color: $text-default-link;
}

