
.sub-nav {
  padding: 30px 0;
  border-top: 1px solid $link-line-solid;
  background: $bg-content-block;
  line-height: 1.5em;
}

.sub-nav__menu-inner-wrap + .sub-nav__menu-inner-wrap {
  margin-top: 30px;
}

.sub-nav__menu-list {
  margin: 0 0 20px;
  padding: 0;
}

.sub-nav__numeric {
  color: $text-default-link;
  font-size: 13px;
}

.sub-nav__text + .sub-nav__numeric {
  margin-left: 5px;
  font-size: 13px;

}

.sub-nav__menu-item {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 12px;
  line-height: 1.5;
}

.sub-nav__menu-title {
  font-size: 18px;
  color: $text-news-card;
  margin-bottom: 25px;
  display: block;
  @include link-hover();
}

.sub-nav__menu-link {
  @include link-hover();

  color: $text-black;
  font-size: 13px;
}

.sub-nav__half-bottom {
  font-size: 13px;
  color: $text-news-card;
  line-height: 1.7;
  min-height: 63px;
}

.sub-nav__half-bottom span {
  color: $text-black;
}
