// Kedu.ru base styles

@import url('https://fonts.googleapis.com/css?family=Oswald:100|Roboto:300|Ubuntu:300,400&subset=cyrillic');

html {
	min-height: 100%;
	background: $bg-content-block;
}

body {
	background-color: $white;

	font-family: 'Ubuntu', 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: $base-font-size;
	color: $text-color;
	letter-spacing: 0.1px;
	overflow-x: hidden;
}

body,
html {
	height: 100%;
	width: 100%;
}

.all-title {
	padding-bottom: 30px;
	color: $text-news-card;
	font-size: 18px;
	margin: 0 -5px;
}

.all-title__text {
	margin: 0 5px;
}

.all-title__link {
	color: $text-black;
	font-size: 18px;
	margin: 0 5px;
	position: relative;
	@include link-hover();

}


.all-title__link .zmdi-chevron-down {
	padding: 0 10px;
}

.main-page__wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;


}

.main-page__content {
	flex: 1 0 auto;
	background-color: $white;

}

a {
	letter-spacing: .3px;
}

a, button, input {
	cursor: pointer;
}

p {
	line-height: 1.5em;
}

h1, a, p {
	text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	border-radius: 5px;
	background: #b6e1ff;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #81afd5;
}
::-webkit-scrollbar-thumb:hover {
	cursor: ns-resize;
	background: darken(#81afd5, 5%);
}
::-webkit-scrollbar-thumb:active {
	background: darken(#81afd5, 5%);
}



.third-block {
	border-bottom: 1px solid $border-default-color;
}

.border--right {
	border-right: 1px solid $border-default-color;

	@include phones {
		border-right: none;
	}
}

.four-block {
	border-bottom: 1px solid $border-default-color;
}

.border--bottom {
	border-bottom: 1px solid $border-default-color;
}

.border--top {
	border-top: 1px solid $border-default-color;
}

.border--right-md-none {
	@include laptop {
		border-right: none;
	}
}
