// Kedu.ru template custom variables

$base-image-path: "../images";
$base-font-path: "../fonts";

$base-font-size: 13px;

$bg-body-background-color: #fff;
$bg-skeleton-loader-item-color: #ebebeb;
$bg-block-background-color: #f9f9f9;
$bg-orange-block: #ffeeb9;
$bg-blue-block: #b9e4ff;
$bg-content-block: #f7f7f7;

$brand-color: #ffc600;
$brand-light-color: #fee17e;

$text-black: #000;
$text-link-color: #1b1b1b;
$text-color: #313131;
$text-statistic-color: #3d3d3d;
$text-news-card: #5b5b5b;
$text-default-link: #8f8f8f;
$text-progress: #a4a4a4;
$text-info-gray-color: #b0b0b0;

$dash-color: #151515;
$border-default-color: #e3e3e3;
$border-button-color: #f6f6f6;
$border-light-color: #f4f4f4;
$border-block: #ebebeb;

$button-default-color: #273142;
$button-default-color-light: #62738e;
$button-promo-color: $brand-color;
$button-more-color: $brand-color;
$button-card-color: #efefef;
$button-dark-orange: #b28a00;
$button-tab-control: #ccc;
$button-tab-control-active: #000;

$line-solid: #cdcdcd;
$link-line-solid: #f0f0f0;

$link: #2354c6;
$link-footer-color: #575757;
$link-head: #183351;
$link-info: #7b92ac;
$link-danger: #ff0024;

$label-sale: #d698a2;

$progress-line-bg: #b2b2b2;
$progress-line: $brand-color;

$notifitacion-green: #21af40;

$base-border-radius: 3px;
$button-border-radius: $base-border-radius;
$base-modal-radius: $base-border-radius;

$base-blur: 2px;

$card-more: #3c53a2;
$card-primary: #ffde00;

$alert-danger: #ffa5af;
$alert-success: #dcffd8;