doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width", initial-scale=1)
        title kedu-re-design
        link(rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css" )
        link(rel="stylesheet" type="text/css" href="static/css/jquery.fancybox.css" )
        link(rel="stylesheet" type="text/css" href="static/css/swiper.min.css" )
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic', rel='stylesheet')
        link(rel="stylesheet" type="text/css" href="static/css/styles.css" )
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
    body
        .main-page__wrapper.new-main
            .main-page__content
                include kedu/header
                include kedu/raiting-title
                include kedu/breadcrumbs
                .container-fluid.direction-parent-directions
                    .container
                        .row
                            .col-xl-5.col-lg-7.direction-parent-directions__links
                                include kedu/filter
                            .col-xl-19.col-lg-17
                                include kedu/raitings
            include kedu/footer
        script(src='static/js/jquery-3.3.1.min.js', type='text/javascript')
        script(src='static/js/owl-carousel/owl.carousel.min.js', type='text/javascript')
        script(src='static/js/perfectscrollbar/perfectscrollbar.min.js', type='text/javascript')
        script(src='static/js/swiper.min.js', type='text/javascript')
        script(src='static/js/jquery.fancybox.js', type='text/javascript')
        script(src='static/js/ui.js', type='text/javascript')
