.container-fluid
	.container.pb-5.border--bottom.overflow-hidden
		.row.mb-n4
			.col-md-6.mb-4
				.article-nav__menu-inner-wrap
					a(href="#").article-nav__menu-title
						|	Новости
					ul.article-nav__menu-list
						li.article-nav__menu-item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Косметолог: малоизвестный представитель
									| медицины
						li.article-nav__menu-item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="", alt='').article-nav__img
								.article-nav__text
									|	Кардиохирург: суть его работы
						li.article-nav__menu-item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="", alt='').article-nav__img
								.article-nav__text
									|	Метролог: кто это и в чем суть его работы
						li.article-nav__menu-item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="", alt='').article-nav__img
								.article-nav__text
									|    Сметчик: его основные обязанности в
									| строительстве
			.col-md-6.mb-4
			.col-md-6.mb-4
			.col-md-6.mb-4