.container-fluid.mb-md-4
	.container.pb-5.overflow-hidden
		.row.mb-n4
			.col-sm-12.col-lg-6.mb-4.border--right
				.article-nav__inner-wrap
					a(href="#").article-nav__title
						|	Новости
					ul.article-nav__list
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Косметолог: малоизвестный представитель
									| медицины
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Кардиохирург: суть его работы
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Метролог: кто это и в чем суть его работы
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|   Сметчик: его основные обязанности в
									| строительстве
			.col-sm-12.col-lg-6.border--right.border--right-md-none
				.article-nav__inner-wrap
					a(href="#").article-nav__title
						|    Профгид
					ul.article-nav__list
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Косметолог: малоизвестный представитель
									| медицины
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Кардиохирург: суть его работы
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Метролог: кто это и в чем суть его работы
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|   Сметчик: его основные обязанности в
									| строительстве
			.col-sm-12.col-lg-6.border--right
				.article-nav__inner-wrap
					a(href="#").article-nav__title
						|    Статьи
					ul.article-nav__list
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Косметолог: малоизвестный представитель
									| медицины
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Кардиохирург: суть его работы
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|    Метролог: кто это и в чем суть его работы
						li.article-nav__item
							a.article-nav__link(href="#")
								.article-nav__img-box
									img(src="static/images/content/article-nav/1.jpg", alt='').article-nav__img
								.article-nav__text
									|   Сметчик: его основные обязанности в
									| строительстве
			.col-sm-12.col-lg-6.mb-4
				sub-nav__menu-inner-wrap
					a(href="#").sub-nav__menu-title
						|  Полезные материалы
					ul.sub-nav__menu-list
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Готовые домашние задания
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Преподаватели в Нижнем Новгороде
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									| Топ 100 учебных заведений России
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Обучение рабочим специальностям