.container-fluid.direction-types
   .container.direction-types__outer-wrap(data-scroll-outer-wrap='')
      .direction-types__wrap.swiper-container(data-scroll-wrap-x='')
         ul.direction-types__types.swiper-wrapper
            li.direction-types__outer-item.swiper-slide
               a.direction-types__types-item.active(href='/tyumen/vuzy') Все
            li.direction-types__outer-item.swiper-slide
               a.direction-types__types-item(href='/tyumen/vuzy/akademiya') Академии
            li.direction-types__outer-item.swiper-slide
               a.direction-types__types-item(href='/tyumen/vuzy/universitet') Университеты
            li.direction-types__outer-item.swiper-slide
               a.direction-types__types-item(href='/tyumen/vuzy/institut') Институты
         .swiper-scrollbar
