section.doing
   .all-title
      |  Ближайшие события и семинары в
      a(href="#").all-title__link
         | Нижнем Новгороде
   ul.doing__wrap
      li.doing__Item
         .doing__half.doing__half--first
            .doing__points
               .doing__points-numeric()
                  | 18
               .doing__points-text
                  |  января
         .doing__half.doing__half--second
            a(href="#").doing__text
               |  Управленческий тренинг "Три кита успешного руководителя: я,
               | команда, инструменты".  До 25 января последняя скидка
         .doing__half.doing__half--third
            .doing__img-box
               img.doing__img(src="static/images/content/institution-raiting/1.png", alt='')
            .doing__content
               a(href="#").doing__title
                  |  Нижегородская государственная сельскохозяйственная академия
      li.doing__Item
         .doing__half.doing__half--first
            .doing__points
               .doing__points-numeric()
                  | 17
               .doing__points-text
                  |  января
         .doing__half.doing__half--second
            a(href="#").doing__text
               |  Смотреть весь рейтинг учебных заведений
               | в Нижнем Новгороде.
         .doing__half.doing__half--third
            .doing__img-box
               img.doing__img(src="static/images/content/institution-raiting/1.png", alt='')
            .doing__content
               a(href="#").doing__title
                  |  Тренинг "Влияние — умение договариваться и держать удар".
                  | Экспресс-курс
      li.doing__Item
         .doing__half.doing__half--first
            .doing__points(style="color: #E10101;")
               .doing__points-numeric
                  | 16
               .doing__points-text
                  |  января
         .doing__half.doing__half--second
            a(href="#").doing__text
               |  Смотреть весь рейтинг учебных заведений
               | в Нижнем Новгороде.
         .doing__half.doing__half--third
            .doing__img-box
               img.doing__img(src="static/images/content/institution-raiting/1.png", alt='')
            .doing__content
               a(href="#").doing__title
                  |  Психологический практикум "Технологии успешной
                  | межперсональной коммуникации"
   .doing__buttons
      a(href="#").doing__btn.btn-active
         |  Все события и семинары в Нижнем Новгороде
