.container-fluid.mb-4
	.container.overflow-hidden.pb-5.four-block
		.all-title
			| Образование по всей России
		.row.mb-n4
			.col-12.col-lg-4.col-sm-6.mb-4
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Направления
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Санкт-Петербург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Екатеринбург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
			.col-12.col-lg-4.col-sm-6.mb-4
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Направления
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Санкт-Петербург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Екатеринбург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
			.col-12.col-lg-4.col-sm-6.mb-4
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Направления
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Санкт-Петербург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Екатеринбург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
			.col-12.col-lg-4.col-sm-6.mb-4
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Направления
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Санкт-Петербург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Екатеринбург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
			.col-12.col-lg-4.col-sm-6.mb-4
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Направления
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Санкт-Петербург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Екатеринбург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
			.col-12.col-lg-4.col-sm-6.mb-4
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Направления
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Санкт-Петербург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ
				.education-all__menu-inner-wrap
					a(href="#").education-all__menu-title
						|  Екатеринбург
					ul.education-all__menu-list
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  2450 учебных центров
						li.education-all__menu-item
							a(href="#").education-all__menu-link
								span.education-all__text
									|  249 программ