section.study-filter
   form.study-filter__form(action='', method='')
      ul.study-filter__wrap
         li.study-filter__item
            .study-filter__title
               | Город
            .study-filter__dropdown
               section.dropdown
                  a#dropdown_items_count.dropdown__link.dropdown__link.btn.btn-tab.btn-tab-color.btn-tab-size(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-offset='0 15 0 0')
                     span.dropdown__link-text Выбрать город
                     i.zmdi.zmdi-chevron-down
                  .dropdown-menu.dropdown-menu-size(aria-labelledby='dropdown_items_count')
                     a.dropdown-item.dropdown-item-indent(href='#') Нижний новгород
                     a.dropdown-item.dropdown-item-indent(href='#') Арбат
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Арбат
                     a.dropdown-item.dropdown-item-indent(href='#') Адмиралтейский район
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Адмиралтейский район
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Арбат
                     a.dropdown-item.dropdown-item-indent(href='#') Адмиралтейский район
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Адмиралтейский район
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Арбат
                     a.dropdown-item.dropdown-item-indent(href='#') Адмиралтейский район
                     a.dropdown-item.dropdown-item-indent(href='#') Аэропорт
                     a.dropdown-item.dropdown-item-indent(href='#') Адмиралтейский район
         li.study-filter__item
            .study-filter__title
               | Тип учебного заведения
            ul.study-filter__checkbox-wrap
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Академия
                        span.checkbox__value (3)
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Университет
                        span.checkbox__value    (4)
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Институт
                        span.checkbox__value    (8)
         li.study-filter__item
            .study-filter__title
               | Вид образования
            ul.study-filter__checkbox-wrap
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Бакалавриат
                        span.checkbox__value  (2)
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Магистратура
                        span.checkbox__value    (450)
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Специалитет
                        span.checkbox__value    (8)
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Аспирантура
                        span.checkbox__value    (2)
               li.study-filter__checkbox-item
                  label.checkbox
                     input.checkbox__default(type='checkbox', name='AGREE')
                     span.checkbox__pseudo
                     span.checkbox__text
                        span.checkbox__key   Ординатура
                        span.checkbox__value    (1)
      //.study-filter__buttons
      //   a.study-filter__btn.btn-active
      //      | Показать