footer.footer
   .container-fluid
      .row
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  |  Всё образование
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Высшее образование
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Среднее професиональное образование
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Аттестация
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Повышение квалификации
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Школьное образование
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Дошкольное образование
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Профессиональная переподготовка
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Обучение за рубежом
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Курсы
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Краткосрочное обучение
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  |  Учебные заведения
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  ВУЗы
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  ССУЗы
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Учебные центры
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Школы
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Детские сады
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  |  Интересное
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Готовые домашние задания
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Профгид
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Преподаватели
            .footer__menu-inner-wrap
               .footer__menu-title
                  |  Помощь
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Напишите нам
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Вопросы и ответы
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Пользовательское соглашение
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Публичная оферта
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  | Отзывы об учебных заведениях
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  В Нижнем Новгороде
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  По всей России
            .footer__menu-inner-wrap
               .footer__menu-title
                  | События и семинары
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  В Нижнем Новгороде
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  По всей России
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  | Направления
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Транспорт
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Здравоохранение
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Строительство
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Педагогика
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Нефтегазовое дело
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | IT
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Экономика и финансы
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Культура и исскуство
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Смотреть все (12)
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  | Рейтинги
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Топ 100 ВУЗов России
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Рейтинг ВУЗов в Нижнем Новгороде
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        | Топ Школ,  Гимназий в Нижнем Новгороде
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Топ Детских садов в Нижнем Новгороде
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Рейтинг преподавателей
            .footer__half-bottom.mt-auto
               |  Kedu - эксперт по образованию
               br
               |  2018
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  |  Публикации
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Профгид
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Новости
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Статьи
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Интересное
            .footer__half-bottom.mt-auto
               |  Лицензия СМИ
               |  №АА2401
         .col-xl-3.col-lg-4.col-sm-6.d-flex.flex-column.flex-column
            .footer__menu-inner-wrap
               .footer__menu-title
                  |  Соцсети / лента новостей
               ul.footer__menu-list
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Вконтакте
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Одноклассники
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Youtube
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Яндекс.Дзен
                  li.footer__menu-item
                     a(href="#").footer__menu-link
                        |  Яндекс.Новости
            .footer__half-bottom.mt-auto
               |  Увидели ошибку —
               br
               span
                  |  сообщите нам,
                  br
                  |  нажав Ctrl + Enter


