.container-fluid.mb-4
   .container.pb-5.border--bottom.overflow-hidden
      .row.mb-n4
         .col-lg-12.mb-4.border--right.border--right-md-none
            .all-title.d-flex.flex-wrap
               span.all-title__text
                 |  Обучение рабочим специальностям в
               a(href="#" data-toggle="modal" data-target="#city_select_modal").all-title__link
                  | Нижнем Новгороде
                  i.zmdi.zmdi-chevron-down
            .row
               .col
                  .learning-spec__menu-inner-wrap
                     ul.learning-spec__menu-list
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Электросварщик ручной сварки
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Фрезеровщик
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Наладчик станков и манипуляторов с программным
                                 | управлением
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Машинист подъемника
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Чистильщик абразивных изделий
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Шламовщик электролитных ванн
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Опрессовщик труб
               .col
                  .learning-spec__menu-inner-wrap
                     ul.learning-spec__menu-list
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Наполнитель баллонов
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Монтажник
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Изолировщик
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Арматурщик
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 | Электрослесарь на проходке
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 | Электрослесарь по обслуживанию автоматики и средств
                                 | измерений электростанций
                        li.learning-spec__menu-item
                           a(href="#").learning-spec__menu-link
                              span.learning-spec__text
                                 |  Фотооператор
                     .learning-spec__buttons
                        a(href="#").btn-more
                           |  Смотреть все 5118 рабочих специальностей
         .col-lg-12.mb-4
            include doing