.mainpage
	header
		#kedu_header_logo_frame.menu__logo.col-8.col-md-5.col-sm-6
			a(href='/moskva')
				i
				span Эксперт по образованию
		#kedu_mainpage_h1_frame.col-lg-20.offset-lg-2.header-h
			h1.primary-h1
				| Найти образование в
				a(href='#', data-toggle='modal', data-target='#city_select_modal') Москве

