.mainpage
	header
		.header__top
			.container-fluid
				.row.align-items-center.header__wrap
					.header__top-half.col-sm-4.col-xl-3.col-6.order-1
						#kedu_header_logo_frame.menu__logo
							a(href='/moskva').menu__logo-link
								i.menu__logo-icon
								span.menu__logo-text Эксперт по образованию
					.header__top-half.col-24.col-sm.order-md-2.order-8
						#search_line_container
							#search_line.search
								.search__overlay.search__overlay-header-panel
									form#kedu_search_form(name='search')
										.row.no-gutters.align-items-strech.justify-content-between
											.col-sm-auto.filter__search-icon
												i.zmdi.zmdi-search
											.col
												input#kedu_search_input.search__input.search__input-header-panel(type='search', autocomplete='off', autocorrect='off', spellcheck='false', name='query', role='textbox', value='', placeholder='МГУ')
									.search__result
					.header__top-half.col-auto.order-md-3.order-2.ml-sm-0.ml-auto
						.menu__city
							.dropdown-blue
								a.dropdown-blue__link(href='#', data-toggle='modal', data-target='#city_select_modal')
									i.zmdi.zmdi-pin
									span.dropdown-blue__text   Москва
									i.zmdi.zmdi-chevron-down
								.dropdown-blue__content
					.w-100.d-sm-none.order-5
					.header__top-half.col-auto.order-md-4.order-6.ml-sm-0.ml-auto
						a(href="#").notification
							img(src="static/images/ui/icon/notification.svg", alt='').notification__img
							.notification__numeric
								span.notification__number
										|	1
					.header__top-half.col-auto.order-md-5.order-3
						.dropdown-user
							a.dropdown-user__link.open-auth-modal(href='#', role='button')
								span(style="background-image: url('static/images/ui/icon/default-user.svg');")
								.dropdown-user__text
									| Мое образование
					.col-auto.d-sm-none.order-4
						button.btn.btn-active.btn-menu(data-trigger='') Меню
					.header__top-half.col-auto.order-7
						a(href="#")

		.header__bottom
			.container-fluid
				.row.align-items-center
					.col-lg-5.col-xl-3.d-none.d-lg-block
						a(href="#").educational
							.educational__img-box
								img.educational__img(src="static/images/ui/icon/university-campus.svg", alt='')
							.educational__text
								| Вы представитель
								br
								| учебного центра?
					.col-lg-19.col-xl-21.col-24
						.menu-before__main-wrap(data-scroll-outer-wrap='')
							.menu-before__wrap.swiper-container(data-scroll-wrap-x='')
								.menu-before__types.swiper-wrapper
									.menu-before__outer-item(data-menu-content-wrap).swiper-slide
										#kedu_before_header_menu_frame
											// 'start_frame_cache_kedu_before_header_menu_frame'
											section(data-it-menu='')
												.menu-before__outer-wrap
													.menu-before
														ul.d-flex.align-items-center.h-100.menu-before__list
															li.menu-before__item
																a.dropdown__link.menu-before__link( data-menu-link href='/edutypes', data-toggle='menu_before_content_block_0')
																	span.menu-before__inner-text
																		| Виды образования
																		i.zmdi.zmdi-chevron-down
															li.menu-before__item
																a.dropdown__link.menu-before__link( data-menu-link href='/moskva/directions-of-training', data-toggle='menu_before_content_block_1')
																	span.menu-before__inner-text
																		| Направления
																		i.zmdi.zmdi-chevron-down
															li.menu-before__item
																a.dropdown__link.menu-before__link( data-menu-link href='/moskva/centers', data-toggle='menu_before_content_block_2')
																	span.menu-before__inner-text
																		| Учебные заведения
																		i.zmdi.zmdi-chevron-down
												.menu-before__content(data-it-menu-before-content='' )
													.container#menu_before_content_block_0.menu-before__content-links(data-menu-links)
														.row
															.col-sm-10.menu-before__border
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|	ВУЗы
																			span.menu-before__link-numeric
																				|	9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады
																			span.menu-before__link-numeric
																				|   66
															.col-sm-14
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|    ВУЗы
																			span.menu-before__link-numeric
																				|    9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады
																			span.menu-before__link-numeric
																				|   66
												.menu-before__content(data-it-menu-before-content='' )
													.container#menu_before_content_block_1.menu-before__content-links(data-menu-links)
														.row
															.col-sm-10.menu-before__border
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|	ВУЗы2
																			span.menu-before__link-numeric
																				|	9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы2
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры2
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы2
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады2
																			span.menu-before__link-numeric
																				|   66
															.col-sm-14
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|    ВУЗы2
																			span.menu-before__link-numeric
																				|    9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы2
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры2
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы2
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады2
																			span.menu-before__link-numeric
																				|   66
												.menu-before__content(data-it-menu-before-content='' )
													.container#menu_before_content_block_2.menu-before__content-links(data-menu-links)
														.row
															.col-sm-10.menu-before__border
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|	ВУЗы3
																			span.menu-before__link-numeric
																				|	9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы3
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры3
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы3
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады3
																			span.menu-before__link-numeric
																				|   66
															.col-sm-14
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|    ВУЗы3
																			span.menu-before__link-numeric
																				|    9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы3
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры3
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы3
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады3
																			span.menu-before__link-numeric
																				|   66
									.menu-before__outer-item(data-menu-content-wrap).swiper-slide
										#kedu_before_header_menu_frame2
											// 'start_frame_cache_kedu_before_header_menu_frame'
											section(data-it-menu='')
												.menu-before__outer-wrap
													.menu-before
														ul.d-flex.align-items-center.h-100.menu-before__list
															li.menu-before__item
																a.dropdown__link.menu-before__link( data-menu-link href='/edutypes', data-toggle='menu_before_content_block_3')
																	span.menu-before__inner-text
																		| Виды образования
																		i.zmdi.zmdi-chevron-down
															li.menu-before__item
																a.dropdown__link.menu-before__link( data-menu-link href='/moskva/directions-of-training', data-toggle='menu_before_content_block_4')
																	span.menu-before__inner-text
																		| Направления
																		i.zmdi.zmdi-chevron-down
															li.menu-before__item
																a.dropdown__link.menu-before__link( data-menu-link href='/moskva/centers', data-toggle='menu_before_content_block_5')
																	span.menu-before__inner-text
																		| Учебные заведения
																		i.zmdi.zmdi-chevron-down
												.menu-before__content(data-it-menu-before-content='' )
													.container#menu_before_content_block_3.menu-before__content-links(data-menu-links)
														.row
															.col-sm-10.menu-before__border
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|	ВУЗы
																			span.menu-before__link-numeric
																				|	9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады
																			span.menu-before__link-numeric
																				|   66
															.col-sm-14
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|    ВУЗы
																			span.menu-before__link-numeric
																				|    9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады
																			span.menu-before__link-numeric
																				|   66
												.menu-before__content(data-it-menu-before-content='' )
													.container#menu_before_content_block_4.menu-before__content-links(data-menu-links)
														.row
															.col-sm-10.menu-before__border
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|	ВУЗы2
																			span.menu-before__link-numeric
																				|	9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы2
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры2
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы2
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады2
																			span.menu-before__link-numeric
																				|   66
															.col-sm-14
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|    ВУЗы2
																			span.menu-before__link-numeric
																				|    9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы2
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры2
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы2
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады2
																			span.menu-before__link-numeric
																				|   66
												.menu-before__content(data-it-menu-before-content='' )
													.container#menu_before_content_block_5.menu-before__content-links(data-menu-links)
														.row
															.col-sm-10.menu-before__border
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|	ВУЗы3
																			span.menu-before__link-numeric
																				|	9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы3
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры3
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы3
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады3
																			span.menu-before__link-numeric
																				|   66
															.col-sm-14
																ul.menu-before__inner-list
																	li.menu-before__content-item
																		a(href='/moskva/vo/all')
																			span.menu-before__link-text
																				|    ВУЗы3
																			span.menu-before__link-numeric
																				|    9
																	li.menu-before__content-item
																		a(href='/moskva/spo/all')
																			span.menu-before__link-text
																				|    ССУЗы3
																			span.menu-before__link-numeric
																				|    24
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Учебные центры3
																			span.menu-before__link-numeric
																				|    123
																	li.menu-before__content-item
																		a(href='/moskva/attestation/all')
																			span.menu-before__link-text
																				|    Школы3
																			span.menu-before__link-numeric
																				|    45
																	li.menu-before__content-item
																		a(href='/moskva/pk/all')
																			span.menu-before__link-text
																				|   Детские сады3
																			span.menu-before__link-numeric
																				|   66
									.menu-before__outer-item(data-menu-content-wrap).swiper-slide
										#kedu_before_header_menu_frame3
											section(data-it-menu='')
												.menu-before__outer-wrap
													.menu-before
														ul.d-flex.align-items-center.h-100.menu-before__list
															li.menu-before__item
																a.dropdown__link.menu-before__link(  href='/edutypes', data-toggle='')
																	span.menu-before__inner-text
																		| ГДЗ
															li.menu-before__item
																a.dropdown__link.menu-before__link( href='/moskva/directions-of-training', data-toggle='')
																	span.menu-before__inner-text
																		| Профгид
															li.menu-before__item
																a.dropdown__link.menu-before__link(  href='/moskva/centers', data-toggle='')
																	span.menu-before__inner-text
																		| Преподаватели
										#kedu_before_header_mobile_menu_frame
											// 'start_frame_cache_kedu_before_header_mobile_menu_frame'
											#menu-mobile.dl-menuwrapper.city-select__change-menu.city-select__change-menu--mod1(data-it-nav='')
												span.city-select__close(data-modal-close='')
												ul.city-select__list
													li
														a.dropdown-blue__link(href='#', data-toggle='modal', data-target='#city_select_modal')
															i.zmdi.zmdi-pin
															|  Тюмень
													li
														a.dropdown-user__link.open-auth-modal(href='#', role='button')
															span(style="background-image: url('/local/templates/kedu/assets/images/ui/icon/default-user.svg');")
															div Войти / Регистрация
												ul.dl-menu
													li
														a(href='/edutypes')
															| Виды образования
															span
																i.zmdi.zmdi-chevron-right
														ul.dl-submenu
															li
																a.change-city-link(href='/tyumen/vo/all') Высшее образование
															li
																a.change-city-link(href='/tyumen/spo/all') Среднее специальное образование
															li
																a.change-city-link(href='/tyumen/attestation/all') Аттестация
															li
																a.change-city-link(href='/tyumen/pk/all') Повышение квалификации
															li
																a.change-city-link(href='/tyumen/school-edu/all') Школьное образование
															li
																a.change-city-link(href='/tyumen/preschool-edu/all') Дошкольное образование
															li
																a.change-city-link(href='/tyumen/pp/all') Профессиональная переподготовка
															li
																a.change-city-link(href='/tyumen/study-adboard/all') Обучение за рубежом
															li
																a.change-city-link(href='/tyumen/kurs/all') Курсы
															li
																a.change-city-link(href='/tyumen/short-edu/all') Краткосрочное обучение
													li
														a(href='/tyumen/directions-of-training')
															| Направления
															span
																i.zmdi.zmdi-chevron-right
														ul.dl-submenu
															li
																a.change-city-link(href='/tyumen/directions-of-training/transport') Транспорт
															li
																a.change-city-link(href='/tyumen/directions-of-training/zdravookhranenie') Здравоохранение
															li
																a.change-city-link(href='/tyumen/directions-of-training/stroitelstvo') Строительство
															li
																a.change-city-link(href='/tyumen/directions-of-training/pedagogika') Педагогика
															li
																a.change-city-link(href='/tyumen/directions-of-training/neftegazovoe-delo') Нефтегазовое дело
															li
																a.change-city-link(href='/tyumen/directions-of-training/it') IT
															li
																a.change-city-link(href='/tyumen/directions-of-training/ekonomika-i-finansy') Экономика и финансы
															li
																a.change-city-link(href='/tyumen/directions-of-training/kultura-i-iskusstvo') Культура и искусство
															li
																a.change-city-link(href='/tyumen/directions-of-training') Все
													li
														a(href='/tyumen/centers')
															| Учебные заведения
															span
																i.zmdi.zmdi-chevron-right
														ul.dl-submenu
															li
																a.change-city-link(href='/tyumen/vuzy') ВУЗы
															li
																a.change-city-link(href='/tyumen/ssuzy') ССУЗы
															li
																a.change-city-link(href='/tyumen/educenter') Учебные центры
															li
																a.change-city-link(href='/tyumen/school') Школы
															li
																a.change-city-link(href='/tyumen/kindergarten') Детские сады
								.swiper-scrollbar