.mainpage
	header
		#kedu_header_logo_frame.menu__logo.col-8.col-md-5.col-sm-6
			a(href='/moskva')
				i
				span Эксперт по образованию
		#search_line_container.col-lg-20.offset-lg-2
			#search_line.search
				.search__overlay.search__overlay-header-panel
					form#kedu_search_form(name='search')
						.row.no-gutters.align-items-strech.justify-content-between
							.col-sm-auto.filter__search-icon
								i.zmdi.zmdi-search
							.col
								span.twitter-typeahead(style='position: relative; display: inline-block;')
									input.search__input.search__input-header-panel.tt-hint(type='search', autocomplete='off', autocorrect='off', spellcheck='false', role='textbox', value='', readonly='', tabindex='-1', style='position: absolute; top: 0px; left: 0px; border-color: transparent; box-shadow: none; opacity: 1; background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);', dir='ltr')
									input#kedu_search_input.search__input.search__input-header-panel.tt-input.in(type='search', autocomplete='off', autocorrect='off', spellcheck='false', name='query', role='combobox', value='', placeholder='Школы Москвы', dir='auto', aria-activedescendant='', aria-owns='kedu_search_input_listbox', aria-readonly='true', aria-autocomplete='list', style='position: relative; vertical-align: top; background-color: transparent;')
									span(role='status', aria-live='polite', style='position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;')
									pre(aria-hidden='true', style='position: absolute; visibility: hidden; white-space: pre; font-family: Ubuntu, Roboto, Arial, sans-serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 500; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;').
									.tt-menu(role='listbox', style='position: absolute; top: 100%; left: 0px; z-index: 100; display: none;', aria-expanded='false')
										.tt-dataset.tt-dataset-search-result(role='presentation')
					.search__result(style='display: none;')


