section.institution-raiting
   .all-title
      |  Рейтинг учебных заведений по
      a(href="#").all-title__link
         | оцнкам пользователей
      | в
      a(href="#").all-title__link
         | Нижнем новгороде
   ul.institution-raiting__wrap
      li.institution-raiting__Item
         .institution-raiting__half.institution-raiting__half--left
            .institution-raiting__points
               .institution-raiting__points-numeric(style="color: #F6BF00;")
                  | 96
               .institution-raiting__points-text
                  |  баллов
         .institution-raiting__half.institution-raiting__half--right
            .institution-raiting__img-box
               img.institution-raiting__img(src="static/images/content/institution-raiting/1.png", alt='')
            .institution-raiting__content
               a(href="#").institution-raiting__title
                  |  Нижегородская государственная сельскохозяйственная академия
               .institution-raiting__bottom
                  .institution-raiting__bottom-half.institution-raiting__bottom-half--left
                     ul.institution-raiting__list
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  12 программ
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  2 факультета
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  4 отделения
                  .institution-raiting__bottom-half.institution-raiting__bottom-half--right
                     .institution-training__stars
                        .institution-training__stars-img-box
                           img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                        a(href="#").institution-training__star-text
                           |  10 отзывов
      li.institution-raiting__Item
         .institution-raiting__half.institution-raiting__half--left
            .institution-raiting__points
               .institution-raiting__points-numeric(style="color: #FB9900;")
                  | 93
               .institution-raiting__points-text
                  |  баллов
         .institution-raiting__half.institution-raiting__half--right
            .institution-raiting__img-box
               img.institution-raiting__img(src="static/images/content/institution-raiting/1.png", alt='')
            .institution-raiting__content
               a(href="#").institution-raiting__title
                  |  Нижегородская государственная сельскохозяйственная академия
               .institution-raiting__bottom
                  .institution-raiting__bottom-half.institution-raiting__bottom-half--left
                     ul.institution-raiting__list
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  12 программ
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  2 факультета
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  4 отделения
                  .institution-raiting__bottom-half.institution-raiting__bottom-half--right
                     .institution-training__stars
                        .institution-training__stars-img-box
                           img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                        a(href="#").institution-training__star-text
                           |  10 отзывов
      li.institution-raiting__Item
         .institution-raiting__half.institution-raiting__half--left
            .institution-raiting__points
               .institution-raiting__points-numeric()
                  | 89
               .institution-raiting__points-text
                  |  баллов
         .institution-raiting__half.institution-raiting__half--right
            .institution-raiting__img-box
               img.institution-raiting__img(src="static/images/content/institution-raiting/1.png", alt='')
            .institution-raiting__content
               a(href="#").institution-raiting__title
                  |  Нижегородская государственная сельскохозяйственная академия
               .institution-raiting__bottom
                  .institution-raiting__bottom-half.institution-raiting__bottom-half--left
                     ul.institution-raiting__list
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  12 программ
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  2 факультета
                        li.institution-raiting__list-item
                           a(href="#").institution-raiting__link
                              |  4 отделения
                  .institution-raiting__bottom-half.institution-raiting__bottom-half--right
                     .institution-training__stars
                        .institution-training__stars-img-box
                           img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                        a(href="#").institution-training__star-text
                           |  10 отзывов
      li.institution-raiting__Item.institution-raiting__Item--border-color
         .institution-raiting__half.institution-raiting__half--left.institution-raiting__half--size-1.institution-raiting__half--border-hide
            .institution-raiting__text
               |  Смотреть весь рейтинг учебных заведений
               | в Нижнем Новгороде.
         .institution-raiting__half.institution-raiting__half--right.institution-raiting__half--size-2
            .institution-raiting__buttons
               a(href="#").institution-raiting__btn.btn-active
                  |  Смотреть все рейтинги