section.map
   .all-title
      |  Все
      a(href="#").all-title__link
         | учебные заведения
      | в
      a(href="#").all-title__link
         | Нижнем новгороде
   .map__wrap
   .map__buttons
      a(href="#").map__btn.btn-active
         |  Все учебные заведения в Нижнем новгороде