.container-fluid.offer
	.container
		.row.offer__wrap.flex-row
			.col.flex-row
				.container
					.row
						.col-md-6.d-flex.align-items-center.offer__half.offer__half--left
							.offer__title
								| Обучающимся
						.col-md-18.offer__half.offer__half--right
							.offer__content
								ul.offer__list
									li.offer__item
										|	Получайте самые выгодные предложения от учебных заведений
									li.offer__item
										|	Отправляейте заявки на любое обучение беспплатно
									li.offer__item
										|	Сравнивайте и оценивайте учебные заведения
								.offer__buuton-wrap
									a(href="#").offer__buuton.btn-active
										| Хочу обучаться
			.col
				.container
					.row
						.col-md-6.d-flex.align-items-center.offer__half.offer__half--left
							.offer__title
								| Учебным заведениям
						.col-md-18
							.offer__content
								ul.offer__list
									li.offer__item
										|    Начните получать заявки на обучение
									li.offer__item
										|    Продвигайтесь: размещайте программы и материалы
									li.offer__item
										|    Работайте с отзывами
									li.offer__item
										|    Прордвигайтесь в рейтингах и каталогах - будьте лучшими в своем деле
								.offer__buuton-wrap
									a(href="#").offer__buuton.btn-active
										| Я обучаю