.container-fluid.offer
	.container.overflow-hidden
		.row.offer__wrap.mb-n4
			.col-sm-24.col-md-12.flex-row.d-flex.mb-4
				.container.flex-row.d-flex
					.row.mb-n3
						.col-lg-6.d-flex.align-items-center.offer__half.offer__half--left.mb-3
							.offer__title
								| Обучающимся
						.col-lg-18.offer__half.offer__half--right.mb-3
							.offer__content
								ul.offer__list
									li.offer__item
										|	Получайте самые выгодные предложения от учебных заведений
									li.offer__item
										|	Отправляейте заявки на любое обучение беспплатно
									li.offer__item
										|	Сравнивайте и оценивайте учебные заведения
								.offer__buuton-wrap
									a(href="#").offer__buuton.btn-active
										| Хочу обучаться
			.col-sm-24.col-md-12.mb-4
				.container
					.row.mb-n3
						.col-lg-6.d-flex.align-items-center.offer__half.offer__half--left.mb-3
							.offer__title
								| Учебным заведениям
						.col-lg-18.offer__half.offer__half--right.mb-3
							.offer__content
								ul.offer__list
									li.offer__item
										|    Начните получать заявки на обучение
									li.offer__item
										|    Продвигайтесь: размещайте программы и материалы
									li.offer__item
										|    Работайте с отзывами
									li.offer__item
										|    Прордвигайтесь в рейтингах и каталогах - будьте лучшими в своем деле
								.offer__buuton-wrap
									a(href="#").offer__buuton.btn-active
										| Я обучаю