section.raitings
   .units-menu
      a.units-menu__item.active(id='#branches', href='/tyumen/vuzy/detail/3465/units')
         | Филиалы
      a.units-menu__item(id='#branches', href='/tyumen/vuzy/detail/3465/units')
         | Филиалы
   .direction-items__content
      ul.raitings__wrap
         li.raitings__Item
            .raitings__half.raitings__half--left
               .raitings__points
                  .raitings__points-numeric.raitings__points-numeric--color-1
                     | 1
                  .raitings__points-text
                     |  место
            .raitings__half.raitings__half--right
               .raitings__inner-half.raitings__inner-half--left
                  .raitings__img-box
                     img.raitings__img(src="static/images/content/institution-raiting/1.png", alt='')
                  .raitings__content
                     a(href="#").raitings__title
                        |  Нижегородская государственная сельскохозяйственная академия
                     .raitings__bottom
                        .raitings__bottom-half.raitings__bottom-half--left
                           ul.raitings__list
                              li.raitings__list-item
                                 .raitings__location
                                    i.zmdi.zmdi-pin
                                    .raitings__location-text
                                       | Нижний новгород
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  12 программ
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  2 факультета
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  4 отделения
                        .raitings__bottom-half.raitings__bottom-half--right
                           .institution-training__stars
                              .institution-training__stars-img-box
                                 img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                              a(href="#").institution-training__star-text
                                 |  10 отзывов
               .raitings__inner-half.raitings__inner-half--right
                  ul.raitings__number
                     li.raitings__number-item
                        .raitings__number-text
                           | Качество образования:
                        .raitings__number-numeric.raitings__number-numeric--color-1
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Популярность:
                        .raitings__number-numeric.raitings__number-numeric--color-2
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Ответы на отзывы:
                        .raitings__number-numeric.raitings__number-numeric--color-3
                           |  78%
   .direction-items__content
      ul.raitings__wrap
         li.raitings__Item
            .raitings__half.raitings__half--left
               .raitings__points
                  .raitings__points-numeric.raitings__points-numeric--color-2
                     | 1
                  .raitings__points-text
                     |  место
            .raitings__half.raitings__half--right
               .raitings__inner-half.raitings__inner-half--left
                  .raitings__img-box
                     img.raitings__img(src="static/images/content/institution-raiting/1.png", alt='')
                  .raitings__content
                     a(href="#").raitings__title
                        |  Нижегородская государственная сельскохозяйственная академия
                     .raitings__bottom
                        .raitings__bottom-half.raitings__bottom-half--left
                           ul.raitings__list
                              li.raitings__list-item
                                 .raitings__location
                                    i.zmdi.zmdi-pin
                                    .raitings__location-text
                                       | Нижний новгород
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  12 программ
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  2 факультета
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  4 отделения
                        .raitings__bottom-half.raitings__bottom-half--right
                           .institution-training__stars
                              .institution-training__stars-img-box
                                 img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                              a(href="#").institution-training__star-text
                                 |  10 отзывов
               .raitings__inner-half.raitings__inner-half--right
                  ul.raitings__number
                     li.raitings__number-item
                        .raitings__number-text
                           | Качество образования:
                        .raitings__number-numeric.raitings__number-numeric--color-1
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Популярность:
                        .raitings__number-numeric.raitings__number-numeric--color-2
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Ответы на отзывы:
                        .raitings__number-numeric.raitings__number-numeric--color-3
                           |  78%
   .direction-items__content
      ul.raitings__wrap
         li.raitings__Item
            .raitings__half.raitings__half--left
               .raitings__points
                  .raitings__points-numeric.raitings__points-numeric--color-3
                     | 1
                  .raitings__points-text
                     |  место
            .raitings__half.raitings__half--right
               .raitings__inner-half.raitings__inner-half--left
                  .raitings__img-box
                     img.raitings__img(src="static/images/content/institution-raiting/1.png", alt='')
                  .raitings__content
                     a(href="#").raitings__title
                        |  Нижегородская государственная сельскохозяйственная академия
                     .raitings__bottom
                        .raitings__bottom-half.raitings__bottom-half--left
                           ul.raitings__list
                              li.raitings__list-item
                                 .raitings__location
                                    i.zmdi.zmdi-pin
                                    .raitings__location-text
                                       | Нижний новгород
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  12 программ
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  2 факультета
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  4 отделения
                        .raitings__bottom-half.raitings__bottom-half--right
                           .institution-training__stars
                              .institution-training__stars-img-box
                                 img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                              a(href="#").institution-training__star-text
                                 |  10 отзывов
               .raitings__inner-half.raitings__inner-half--right
                  ul.raitings__number
                     li.raitings__number-item
                        .raitings__number-text
                           | Качество образования:
                        .raitings__number-numeric.raitings__number-numeric--color-1
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Популярность:
                        .raitings__number-numeric.raitings__number-numeric--color-2
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Ответы на отзывы:
                        .raitings__number-numeric.raitings__number-numeric--color-3
                           |  78%
   .direction-items__content
      ul.raitings__wrap
         li.raitings__Item
            .raitings__half.raitings__half--left
               .raitings__points
                  .raitings__points-numeric.raitings__points-numeric--color-4
                     | 1
                  .raitings__points-text
                     |  место
            .raitings__half.raitings__half--right
               .raitings__inner-half.raitings__inner-half--left
                  .raitings__img-box
                     img.raitings__img(src="static/images/content/institution-raiting/1.png", alt='')
                  .raitings__content
                     a(href="#").raitings__title
                        |  Нижегородская государственная сельскохозяйственная академия
                     .raitings__bottom
                        .raitings__bottom-half.raitings__bottom-half--left
                           ul.raitings__list
                              li.raitings__list-item
                                 .raitings__location
                                    i.zmdi.zmdi-pin
                                    .raitings__location-text
                                       | Нижний новгород
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  12 программ
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  2 факультета
                              li.raitings__list-item
                                 a(href="#").raitings__link
                                    |  4 отделения
                        .raitings__bottom-half.raitings__bottom-half--right
                           .institution-training__stars
                              .institution-training__stars-img-box
                                 img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
                              a(href="#").institution-training__star-text
                                 |  10 отзывов
               .raitings__inner-half.raitings__inner-half--right
                  ul.raitings__number
                     li.raitings__number-item
                        .raitings__number-text
                           | Качество образования:
                        .raitings__number-numeric.raitings__number-numeric--color-1
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Популярность:
                        .raitings__number-numeric.raitings__number-numeric--color-2
                           |  94
                     li.raitings__number-item
                        .raitings__number-text
                           | Ответы на отзывы:
                        .raitings__number-numeric.raitings__number-numeric--color-3
                           |  78%
   .direction-navigate.mt-3
      .direction-navigate__buttons