.container-fluid.direction-head.page-header.gr__4
	.container
		.row
			.col-lg-24.direction-head__head
				h1
					span.direction-head__text
						|	Рейтинг учебных заведений в
					a(href="#" data-toggle="modal" data-target="#city_select_modal").direction-head__link
						| Нижнем новгороде
						i.zmdi.zmdi-chevron-down
				span Рейтинг ВУЗов

			