.container-fluid.second-block
   .container
      .row
         .col-lg-4.border--right
            .sub-nav__menu-inner-wrap
               .sub-nav__menu-title
                  |  Направления
               ul.sub-nav__menu-list
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Транспорт
                        span.sub-nav__numeric
                           |  136
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Здравоохранение
                        span.sub-nav__numeric
                           |  215
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Строительство
                        span.sub-nav__numeric
                           |  25
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Педагогика
                        span.sub-nav__numeric
                           |  19
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Нефтегазовое дело
                        span.sub-nav__numeric
                           |  309
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  IT
                        span.sub-nav__numeric
                           |  124
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Экономика и финансы
                        span.sub-nav__numeric
                           |  98
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Культура и исскуство
                        span.sub-nav__numeric
                           |  80
               .sub-nav__buttons
                  a(href="#").sub-nav__btn.btn-active
                     |  Все направления
         .col-lg-6.d-flex.justify-content-center
            sub-nav__menu-inner-wrap
               .sub-nav__menu-title
                  |  Виды образования
               ul.sub-nav__menu-list
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Высшее образование
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Среднее професиональное образование
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Аттестация
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Повышение квалификации
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Профессиональная переподготовка
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Дошкольное образование
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Обучение за рубежом
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Бесплатные курсы
                  li.sub-nav__menu-item
                     a(href="#").sub-nav__menu-link
                        span.sub-nav__text
                           |  Платные курсы
               .sub-nav__buttons
                  a(href="#").sub-nav__btn.btn-active
                     |  Все направления
         .col-lg-12.training
            .container
               .row
                  .col
                     .training__item
                        .training__wrap
                           .training__igm-box
                              img.training__img(src="", alt='')
                           .training__top
                              .training__title
                                 |  Тренинг по технике и культуре речи
                                 | "Говори"
                           .training__center
                              .training__ruble
                                 |  0 рублей
                              .training__stars
                                 .training__stars-img-box
                                    img.training__stars__img(src="", alt='')
                                 .training__star-text
                                    |  10 отзывов
                              .training__view
                                 .training__view-img-box
                                    img.training__view-img(src="", alt='')
                                 .training__view-text
                                    |  2,2K
                           .training__bottom
                              .training__bottom-img-box
                                 img.training__bottom-img(src="", alt='')
                              .training__bottom-text
                                 |  Высшая школа Среда обуче..

                  .col
                  .col
                  .col
