.container-fluid.overflow-hidden.mb-4.mb-lg-5.pt-5.border--top
	.container
		.row.mb-n4
			.col-24.col-sm-10.col-xl-4.border--right.mb-4
				.sub-nav__menu-inner-wrap
					a(href="#").sub-nav__menu-title
						|  Направления
					ul.sub-nav__menu-list
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Транспорт
								span.sub-nav__numeric
									|  136
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Здравоохранение
								span.sub-nav__numeric
									|  215
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Строительство
								span.sub-nav__numeric
									|  25
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Педагогика
								span.sub-nav__numeric
									|  19
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Нефтегазовое дело
								span.sub-nav__numeric
									|  309
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  IT
								span.sub-nav__numeric
									|  124
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Экономика и финансы
								span.sub-nav__numeric
									|  98
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Культура и исскуство
								span.sub-nav__numeric
									|  80
					.sub-nav__buttons
						a(href="#").sub-nav__btn.btn-more
							|  Все направления
			.col-24.col-sm-14.col-xl-5.d-flex.justify-content-sm-center.mb-4
				sub-nav__menu-inner-wrap
					a(href="#").sub-nav__menu-title
						|  Виды образования
					ul.sub-nav__menu-list
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Высшее образование
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Среднее професиональное образование
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Аттестация
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Повышение квалификации
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Профессиональная переподготовка
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Дошкольное образование
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Обучение за рубежом
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Бесплатные курсы
						li.sub-nav__menu-item
							a(href="#").sub-nav__menu-link
								span.sub-nav__text
									|  Платные курсы
					.sub-nav__buttons
						a(href="#").sub-nav__btn.btn-more
							|  Все программы
			.col-24.col-xl-15.mb-5
				include training
