.training
	.all-title.training__top-title.d-flex
		span.all-title__text
			|  Популярные
		include filter
		a(href="#" data-toggle="modal" data-target="#city_select_modal").all-title__link
			| Нижнем Новгороде
			i.zmdi.zmdi-chevron-down
	ul.training__wrap.owl-carousel(data-owl-carousel data-owl-items="4" data-owl-items-pad="3" )
		li.training__item
			.training__img-box
				img.training__img(src="static/images/content/training/1.jpg", alt='')
			.training__top
				a(href="#").training__title
					|  Тренинг по технике и культуре речи
					| "Говори"
			.training__center
				.training__ruble
					span.training__ruble-numeric
						|  0
					span.training__ruble-text
						|    рублей
				a(href="#").training__stars
					.training__stars-img-box
						img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
					.training__star-text
						|  10 отзывов
				.training__view
					.training__view-img-box
						img.training__view-img(src="static/images/ui/icon/eye.svg", alt='')
					.training__view-text
						|  2,2K
			a(href="#").training__bottom
				.training__bottom-img-box
					img.training__bottom-img(src="static/images/content/training/2.png", alt='')
				.training__bottom-text
					|  Высшая школа Среда обучения
		li.training__item
			.training__img-box
				img.training__img(src="static/images/content/training/1.jpg", alt='')
			.training__top
				a(href="#").training__title
					|  Тренинг по технике и культуре речи
					| "Говори"
			.training__center
				.training__ruble
					span.training__ruble-numeric
						|  0
					span.training__ruble-text
						|    рублей
				a(href="#").training__stars
					.training__stars-img-box
						img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
					.training__star-text
						|  10 отзывов
				.training__view
					.training__view-img-box
						img.training__view-img(src="static/images/ui/icon/eye.svg", alt='')
					.training__view-text
						|  2,2K
			a(href="#").training__bottom
				.training__bottom-img-box
					img.training__bottom-img(src="static/images/content/training/2.png", alt='')
				.training__bottom-text
					|  Высшая школа Среда обучения
		li.training__item
			.training__img-box
				img.training__img(src="static/images/content/training/1.jpg", alt='')
			.training__top
				a(href="#").training__title
					|  Тренинг по технике и культуре речи
					| "Говори"
			.training__center
				.training__ruble
					span.training__ruble-numeric
						|  0
					span.training__ruble-text
						|    рублей
				a(href="#").training__stars
					.training__stars-img-box
						img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
					.training__star-text
						|  10 отзывов
				.training__view
					.training__view-img-box
						img.training__view-img(src="static/images/ui/icon/eye.svg", alt='')
					.training__view-text
						|  2,2K
			a(href="#").training__bottom
				.training__bottom-img-box
					img.training__bottom-img(src="static/images/content/training/2.png", alt='')
				.training__bottom-text
					|  Высшая школа Среда обучения
		li.training__item
			.training__img-box
				img.training__img(src="static/images/content/training/1.jpg", alt='')
			.training__top
				a(href="#").training__title
					|  Тренинг по технике и культуре речи
					| "Говори"
			.training__center
				.training__ruble
					span.training__ruble-numeric
						|  0
					span.training__ruble-text
						|    рублей
				a(href="#").training__stars
					.training__stars-img-box
						img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
					.training__star-text
						|  10 отзывов
				.training__view
					.training__view-img-box
						img.training__view-img(src="static/images/ui/icon/eye.svg", alt='')
					.training__view-text
						|  2,2K
			a(href="#").training__bottom
				.training__bottom-img-box
					img.training__bottom-img(src="static/images/content/training/2.png", alt='')
				.training__bottom-text
					|  Высшая школа Среда обучения
		li.training__item
			.training__img-box
				img.training__img(src="static/images/content/training/1.jpg", alt='')
			.training__top
				a(href="#").training__title
					|  Тренинг по технике и культуре речи
					| "Говори"
			.training__center
				.training__ruble
					span.training__ruble-numeric
						|  0
					span.training__ruble-text
						|    рублей
				a(href="#").training__stars
					.training__stars-img-box
						img.training__stars__img(src="static/images/ui/icon/star.svg", alt='')
					.training__star-text
						|  10 отзывов
				.training__view
					.training__view-img-box
						img.training__view-img(src="static/images/ui/icon/eye.svg", alt='')
					.training__view-text
						|  2,2K
			a(href="#").training__bottom
				.training__bottom-img-box
					img.training__bottom-img(src="static/images/content/training/2.png", alt='')
				.training__bottom-text
					|  Высшая школа Среда обучения
	.training__buttons
		a(href="#").training__btn.btn-more
			|	Все курсы